.content-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.jobs-list {
    
    width: 550px; /* Chiều ngang cố định */
    
}

.detail-company {
    
    flex: 1;
  
    position: sticky;
    top: 0;
    
}

.job-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 100%; 
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    transition: box-shadow 0.3s ease;
}

.job-card:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.job-card-superhot {
    background: #fff6f2; /* Màu nền thứ nhất */
}

.job-card-hot {
    background: #ffffff; /* Màu nền thứ hai */
}

.super-hot {
    position: absolute;
    top: 10px;
    right: 0px;
    background: rgb(218, 0, 0);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.super-hot svg {
    margin-right: 5px;
}
/* HOT */
.hot-badge {
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(5%, 30%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}


.hot-badge::after {
    content: "";
    position: absolute;
    bottom: -5px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid orange;
}

.posted-time {
    color: gray;
    font-size: 14px;
}

.job-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.company {
    display: flex;
    align-items: center;
    gap: 10px;
}

.company img {
    width: 40px;
    height: 40px;
}

.company-name {
    font-weight: normal;
    
}

.salary {
    color: #007bff;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.location {
    color: #555;
    margin-top: 10px;
}

.tags {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.tags span {
    background: #f1f1f1;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
}

.benefits {
    margin-top: 10px;
    padding-left: 20px;
}

.benefits div {
    color: black;
    margin: 5px 0;
}

.benefits div::before {
    content: "•";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}



/* Hiệu ứng khi chọn công việc */
.selected-job {
    border: 2px solid red;
    position: relative;
}

.selected-job::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -1px;
    width: 6px;
    height: 95%;
    border-radius: 10px;
    background-color: #ed1b2f;
}

.selected-job::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -15px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #ed1b2f;
    transform: rotate(90deg);
}