
.footer {
    background: linear-gradient(to right, black, #3b0000);
    color: white;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    width: 120px;
}
.footer-slogan {
    font-size: 14px;
    color: #ccc;
    margin-top: 5px;
}

.footer .col-md-2, .footer .col-md-3 {
    min-width: 200px;
    margin-bottom: 20px;
}

.social-icons a {
    display: inline-block;
    color: white;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.3s;
}
.social-icons a:hover {
    color: #ffcc00;
}

/* Links */
.footer-links, .footer-contact {
    list-style: none;
    padding: 0;
}
.footer-links li, .footer-contact li {
    margin-bottom: 4px;
}
.footer-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.footer-links a:hover {
    color: #ffcc00;
}


.footer-bottom {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 20px;
    color: #ccc;
}

.body-content {
    position: relative;
    margin-top: 20px;
    width: auto;
    height: auto;
}

.breadcrumb-container {
    background: #f8f9fa;
    padding: 10px 0;
}

.breadcrumb {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 0;
    font-size: 14px;
}

.breadcrumb-container {
    background: #e2e0e0;
    border-top: 2px solid #ccc;
    margin-top: 20px;
    width: 100%;
}